.CurrentUser:not(.inline) {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 15px; /* room for scrollbar */
  transition: transform 200ms;
}

.CurrentUser.inline {
  /* color: var(--pink); */
  display: flex;
  align-items: center;
}

.CurrentUser:not(.inline) > button {
  padding: 36px; /* line up vertically with StarCount */
}

.CurrentUser > .Spinner {
  margin-top: 16px;
  margin-right: 50px;
  font-size: 8px;
}
/* 
.CurrentUser > button:hover,
.CurrentUser > button:active {
  text-decoration: underline;
} */

.CurrentUser :is(a, button) {
  display: flex;
  align-items: center;
  color: var(--link);
}

.CurrentUser :active:is(button, a),
.CurrentUser :focus:is(button, a),
.CurrentUser :hover:is(button, a) {
  color: var(--link-active) !important;
  text-decoration: none;
}

.User > img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 25px;
  padding: 2px;
  border: 2px solid var(--pink);
}
