.Reviews {
  -webkit-overflow-scrolling: touch;
}

.Reviews-header {
  text-align: center;
}

.Reviews-header h1 {
  font-size: 2.5em;
  font-weight: normal;
}

.Reviews-favorite-count {
  position: absolute;
  left: 50%;
  display: flex;
  align-items: center;
  margin: 9px 0 0 160px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.54);
}

.Reviews-favorite-count > svg {
  margin-right: 6px;
}
